<script type="text/javascript">
    (function () {
        window.TaleComment = {
            reply: function (coid) {
                $('#comment-form input[name=coid]').val(coid);
                $("html,body").animate({scrollTop: $('div.comment-container').offset().top}, 500);
                $('#comment-form #textarea').focus();
            },
            subComment: function () {
                $.ajax({
                    type: 'post',
                    url: '/comment',
                    data: $('#comment-form').serialize(),
                    async: false,
                    dataType: 'json',
                    success: function (result) {
                        $('#comment-form input[name=coid]').val('');
                        if (result && result.success) {
                            window.location.reload();
                        } else {
                            if (result.msg) {
                                alert(result.msg);
                                window.location.reload();

                            }
                        }
                    }
                });
                return false;
            }
        };
    })();

    function getCommentCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return decodeURIComponent(arr[2]);
        else
            return null;
    }

    function addCommentInputValue() {

        var author= document.getElementById('author');
        var mail= document.getElementById('mail');
        var url= document.getElementById('url')
        if(author!==null){
            author.value = getCommentCookie('zale_remember_author');
        }
        if(mail!==null){
            mail.value   = getCommentCookie('zale_remember_mail');

        }
        if(url!==null){
            url.value    = getCommentCookie('zale_remember_url');
        }

    }

    addCommentInputValue();
</script>